h1 StaticPages#home
p Find me in app/views/static_pages/home.html.slim

= button_to "新規登録", new_user_registration_path, method: :get, class: "btn btn-primary"
= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger"